.section {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.friendList {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
  /* margin: 10px; */
  /* margin-bottom: 10px; */
}

.friendItem {
  display: flex;
  align-items: center;
  background-color: white;
  width: 300px;
  border-radius: 2px;
  /* height: 86px; */
  padding: 8px 15px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px;
}

.friendIMG {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 15px;
}

.isOnline {
  background-color: green;
}
