/* title color #535d63 */

.statistics {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;

  margin: 30px auto;
  width: 345px;
  height: 165px;
  background-color: white;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #535d63;
  padding-top: 40px;
}

.stat-list {
  display: flex;
  height: 75px;
  align-items: center;
  color: white;
  margin-top: auto;
  background-color: grey;
}

.item {
  display: flex;
  flex-direction: column;
  width: 69px;
  height: 100%;
  justify-content: space-evenly;
}
.item:nth-child(1) {
  background-color: rgb(0, 46, 228);
}
.item:nth-child(2) {
  background-color: rgb(88, 206, 29);
}
.item:nth-child(3) {
  background-color: rgb(222, 127, 2);
}
.item:nth-child(4) {
  background-color: rgb(225, 22, 22);
}
.item:nth-child(5) {
  background-color: rgb(224, 2, 213);
}

.label {
  height: auto;
  /* margin-bottom: 6px; */
}

.percentage {
  height: auto;
  font-size: 22px;
  font-weight: 500;
}
