.transactionHistory {
  /* border: 1px solid grey; */
}

table {
  margin: 50px auto;
  width: 725px;
  color: rgb(63, 63, 63);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  border-collapse: collapse;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 4px;
}

tr {
  height: 40px;
}
thead {
  color: white;
  /* font-size: 16px; */
  background-color: #0fbcd5;
  text-transform: uppercase;
}

thead tr {
  border: 1px solid #0fbcd5;
  border-bottom: none;
}

tr th:not(:last-child) {
  border-right: 1px solid white;
}

tr td {
  border-left: 1px solid #dee4e5;
  border-right: 1px solid #dee4e5;
}
tr td:nth-child(1) {
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #ecf2f3;
}
tbody tr:last-child {
  border-bottom: 1px solid #dee4e5;
}
